@font-face {
  font-family: 'Rostov';
  src: url('../fonts/Rostov.ttf');
}
@font-face {
  font-family: 'DevilCandle';
  src: url('../fonts/DevilCandle.otf');
}
@font-face {
  font-family: 'ScaryHalloweenFont';
  src: url('../fonts/ScaryHalloweenFont.ttf');
}
@font-face {
  font-family: 'WitchMagic';
  src: url('../fonts/WitchMagic.ttf');
}

body {
  background-color: rgb(53, 58, 57);
  margin: 0;
  padding: 0;
  color: white;
}

.homePage {
  /* background-image: url('https://www.cbc.ca/natureofthings/content/legacy/BeAfraid_HauntedHouse_1920.jpg'); */
  /* background-image: url('https://wallpapers.com/images/hd/haunted-mansion-under-full-moon-k5bdstfd924y0cvn.jpg'); */
  height: 90vh;
  /* background-repeat: no-repeat; */
  /* background-size: 100vw 90vh; */
  background-position: 0px, -80px;
  background-size: cover;
}

a {
  color: #eee;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 16px;
  font-size: 20px;
  font-family: DevilCandle;
}

header {
  display: flex;
  background-color: #971212;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}

header a {
  background-color: 971212;
  transition: background-color 1s ease;
}

header a:hover {
  background-color: red;
}

.headers {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font-family: ScaryHalloweenFont;
  font-size: 40px;
  font-weight: 200;
  color: red;
  animation: text 5s;
  text-shadow: 2px 2px 100px red;
}

@keyframes text {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: red;
    text-shadow: 2px 2px 100px red;
  }
}

img {
  width: 150px;
}

.imgLarge {
  width: 550px;
  border: black solid 5px;
  border-radius: 10px;
}

.roomHeader {
  font-family: DevilCandle;
  font-size: 20px;
}

.homePageHeader {
  line-height: 60vh;
  font-size: 66px;
}

.roomList {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  /* grid-gap: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px, 20px;
  margin-top: 30px;
  gap: 30px;
  text-align: center;
}

.roomListImg {
  width: 400px;
  border: 5px grey solid;
  border-radius: 50px;
}
.roomListDiv:hover .roomHeader {
  color: red;
}

.roomListImg:hover {
  border-color: black;
  animation: flashy 1s infinite;
  filter: brightness(1.5);
}

@keyframes flashy {
  0% {
    filter: brightness(1);
  }
  /* 20% {
    filter: brightness(0.5);
  } */
  59% {
    filter: brightness(2);
  }
  70% {
    filter: brightness(3) contrast(2);
  }
  80% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1.5) contrast(1.2);
  }
}

.roomListDiv {
  padding: 0;
  /* margin: 0; */
  /* margin: 15px; */
}

.roomDetails {
  text-align: justify;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 50px;
  gap: 50px;
}

.center {
  text-align: center;
}

.black {
  background-color: red;
  padding: 10px;
  color: black;
  border-radius: 10px;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
